button {
  font-size: 1.5rem;
  height: 5rem;
  width: 7rem;
  margin: 1rem;
  border-radius: 4rem;
  border: none;
}

button:hover {
  background-color: rgb(108, 108, 108);
}

button:active {
  background-color: rgb(136, 136, 136);
}

.morseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.morseLight,
.morseAudio {
  text-align: center;
  line-height: 30rem;
  caret-color: transparent;
  font-size: 2rem;
}
