button {
  font-size: 1.5rem;
  height: 5rem;
  width: 7rem;
  margin: 1rem;
  border-radius: 4rem;
  border: none;
  background-color: rgb(60, 60, 60);
}

button:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(70, 70, 70);
}

button:focus {
  background-color: rgb(125, 125, 125);
}

.morseContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.morseLight,
.morseAudio {
  text-align: center;
  line-height: 30rem;
  caret-color: transparent;
  font-size: 2rem;
  user-select: none;
}

.morseLight:hover,
.morseAudio:hover {
  background-color: rgb(92, 92, 92);
}

.morseLight:active,
.morseAudio:active {
  background-color: rgb(121, 121, 121);
}

/* Used to disable user from highlighting text */
.morseLight::selection,
.morseAudio::selection {
  background-color: transparent;
}
