#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  text-wrap: wrap;
  font-size: 1.2rem;
  height: 30rem;
  width: 25rem;
  padding: 1rem;
}

.title {
  display: flex;
  justify-content: center;
}

.translator {
  display: flex;
  align-items: center;
}

.inputOutputContainer {
  padding: 3rem;
}
