#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea {
  text-wrap: wrap;
  font-size: 1.2rem;
  height: 30rem;
  width: 25rem;
  padding: 1rem;
}

.translator {
  display: flex;
  align-items: center;
}

.inputContainer {
  padding: 3rem;
}

#arrowIcon {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  transition: transform 0.5s;
  background-color: rgb(67, 67, 67);
  padding: 1rem;
  border: 0px;
  border-radius: 100%;
  margin-top: 5rem;
}

#arrowIcon:hover {
  background-color: rgb(111, 111, 111);
}

#arrowIcon:active {
  background-color: rgb(140, 140, 140);
}
